<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1><b>Create new note!</b></h1>
    <form method="POST">
        {% csrf_token %}
        <input type="text", name="Note">
        <input type="submit", value="Submit">
    </form><br>
    <a href="../">Back home</a>
</body>
</html>