<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1><b>Notes!</b></h1>
    {% for i in all_notes %}
            <form method="post">
                {% csrf_token %}
                <label style="font-size:24px;">{{ i.content }}</label>
                <button type="submit", name="delete", value={{ i.id }}, style="float: right;margin-right:30px;">
                    Delete
                </button>
            </form>
        <hr>
    {% endfor %}
    <a href="../">Back home</a>
</body>
</html>